@{
    ViewData["Title"] = "Объекты недвижимости";
}
@model GrandReal.Models.ObjectsModel;
<div class="container">
    <h1>Объекты недвижимости</h1>

    @foreach (var item in Model.Objects)
    {
        var idCarousel = $"carouselObject{item.IdObject}";

        <div class="objectCard d-flex justify-content-between mb-5" style="border-radius:15px;overflow: hidden">

            <div id="@idCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false" style="width:40%; height:250px;">
                <div class="carousel-indicators">
                    @{
                        var imageList = Model.ImagesObjects.Where(a => a.Object == item.IdObject).ToList().Select((imageItem, indexImage) => (imageItem, indexImage));
                    }
                    @foreach (var (imageItem, indexImage) in imageList)
                    {
                        <button type="button" data-bs-target="#@idCarousel" 
                        data-bs-slide-to="@indexImage" class="@(indexImage == 0 ? "active" : "")"
                        aria-current="true" aria-label="">
                        </button>
                    }
                </div>
                <div class="carousel-inner">
                    @foreach (var (imageItem, indexImage) in imageList)
                    {
                        <div class="carousel-item @(indexImage == 0 ? "active" : "")">
                            <img src=@Url.Content($"~/files/img/{item.IdObject}/{imageItem.NameImage}") class="d-block w-100" alt="Фото не найдено">
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#@idCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#@idCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            
            <div class="p-3 pb-1 w-75 d-flex flex-column mb-2">
                <div style="height:20%" class="d-flex justify-content-between">
                    <h3 style="font-style: italic; Letter-spacing:2px;">
                        @(item.Rooms != 0 ? item.Rooms + "-к." : "")
                        @item.Type @(item.LivingArea != 0 ? item.LivingArea: item.PlotArea)м<sup>2</sup>
                        @item.Floors
                        </h3>
                    <h3 style="font-style: italic; Letter-spacing:2px;">@item.Cost</h3>
                </div>

                <div style="height:70%">
                    <p>@item.FullAddress</p>
                </div>

                <div class="d-flex me-3 align-items-end justify-content-end" style="height:10%">

                    <div id="@($"likedObject-{item?.IdObject}")" class="liked me-2">
                        @{var liked = Model.FavoriteClintObjects.Contains(item.IdObject);}
                        <i class="@(liked ? "press" :"")"></i>
                        <span>liked!</span>
                    </div>

                    <button class="btn btn-outline-primary p-0" style="width:250px; height:30px;">Оставить заявку</button>
                </div>
            </div>

        </div>
    }

    

    <script src="~/js/objects.js" charset="utf-8" type="text/javascript"></script>
</div>


