
@* Страница для вывода объектов используется ещё в "заявках"" и "избранных объектах" *@
@* TODO: Не хватает пагинации и фильтров с поиском *@
@* Можешь перестраивать таблицу после поиска либо же получать объеты с сервака и перерисовывать карты объектов 
(2-ой варик кажется гораздо сложнее ведь структуру картыОбъекта придётся перенести в js и подставлять данные там, но за то не будет перерисовки всей страницы) *@
@model GrandReal.Models.ObjectsModel;
<div class="container">
    <h1>@ViewData["Title"]</h1>
    @* Лютый костыль для шаблона вывода личных заявок *@
    @* Предлагаю хранить в Objects с is_active = 2 если база не измениться, так как есть все поля для данных *@
    @if (ViewData["Title"] == "Заявки")
    {
        <div class="objectCard d-flex justify-content-between mb-5" style="border-radius:15px;overflow: hidden">

            <div style="width:40%; height:250px;" class="d-flex justify-content-center">
                <img src="~/img/home.png" class="h-100" />
            </div>

            <div class="p-3 pb-1 w-75 d-flex flex-column mb-2">
                <div style="height:20%" class="d-flex justify-content-between">
                    <h3 style="font-style: italic; Letter-spacing:2px;">
                        1-к. Квартира
                    </h3>
                    <h3 style="font-style: italic; Letter-spacing:2px;">15 000 000 ₽</h3>
                </div>

                <div style="height:70%">
                    <p>г. Москва, р-н Центральный</p>
                    <p class="fs-5">*Ваша личная заявка на подбор объекта недвижимости</p>
                </div>


                <div class="d-flex me-3 align-items-end justify-content-end" style="height:10%">


                    <button class="btn btn-outline-primary p-0" style="width:250px; height:30px;" disabled>
                        @(true ? "Заявка оставлена" : "Оставить заявку")

                    </button>
                </div>
            </div>

        </div>
    }
    
    @* Вывод объектов и создание каруселей для фоток, тут вроде всё норм *@
    @foreach (var item in Model.Objects)
    {
        var idCarousel = $"carouselObject{item.IdObject}";

        <div class="objectCard d-flex justify-content-between mb-5" style="border-radius:15px;overflow: hidden">

            <div id="@idCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false" style="width:40%; height:250px;">
                <div class="carousel-indicators">
                    @{
                        var imageList = Model.ImagesObjects.Where(a => a.Object == item.IdObject).ToList().Select((imageItem, indexImage) => (imageItem, indexImage));
                    }
                    @foreach (var (imageItem, indexImage) in imageList)
                    {
                        <button type="button" data-bs-target="#@idCarousel" 
                        data-bs-slide-to="@indexImage" class="@(indexImage == 0 ? "active" : "")"
                        aria-current="true" aria-label="">
                        </button>
                    }
                </div>
                <div class="carousel-inner">
                    @foreach (var (imageItem, indexImage) in imageList)
                    {
                        <div class="carousel-item @(indexImage == 0 ? "active" : "")">
                            <img src=@Url.Content($"~/files/img/{item.IdObject}/{imageItem.NameImage}") class="d-block w-100" alt="Фото не найдено">
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#@idCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#@idCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            
            <div class="p-3 pb-1 w-75 d-flex flex-column mb-2">
                <div style="height:20%" class="d-flex justify-content-between">
                    <h3 style="font-style: italic; Letter-spacing:2px;">
                        @(item.Rooms != 0 ? item.Rooms + "-к." : "")
                        @item.Type @(item.LivingArea != 0 ? item.LivingArea: item.PlotArea)м<sup>2</sup>
                        @item.Floors
                        </h3>
                    <h3 style="font-style: italic; Letter-spacing:2px;">@item.Cost</h3>
                </div>

                <div style="height:70%">
                    <p>@item.FullAddress</p>
                    <p class="fs-5 m-0 mx-3">Риелтор:</p>
                    <div class="dropdownElement">
                        <img src="~/img/staff.png" height="90px" />
                        <div class="d-flex flex-column justify-content-around">
                            <p class="fs-6 m-0 ">Иванов Иван Иванович</p>
                            <div class="d-flex starDiv h-25">
                                <img src="~/img/star.png" />
                                <img src="~/img/star.png" />
                                <img src="~/img/star.png" />
                                <img src="~/img/star.png" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex me-3 align-items-end justify-content-end" style="height:10%">

                    <div id="@($"likedObject-{item?.IdObject}")" class="liked me-2">
                        @{var liked = Model.FavoriteClientObjects.Contains(item.IdObject);}
                        <i class="@(liked ? "press" :"")"></i>
                        <span>liked!</span>
                    </div>

                    <button class="btn btn-outline-primary p-0" style="width:250px; height:30px;" @(Model.AplicationsClient.Contains(item.IdObject) ? "disabled" : "") onclick="submitApplication(@item.IdObject,this)">
                        @(Model.AplicationsClient.Contains(item.IdObject) ? "Заявка оставлена" : "Оставить заявку")                       

                    </button>
                </div>
            </div>

        </div>
    }

    

    <script src="~/js/objects.js" charset="utf-8" type="text/javascript"></script>
</div>


